@import '@mantine/core/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-variant-numeric: lining-nums proportional-nums;
}

body {
  @apply font-openSans m-0 flex h-screen min-h-screen w-screen flex-col overflow-x-hidden bg-slate-100 p-0 text-slate-800;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea {
  outline: none;
}
